@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  margin: 0px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}


.logo {
  top: -8px;
  left: 16px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 9997;
}


.logo img {
  width:100px;
}


.btns-wrap {
  font-family: 'Montserrat', sans-serif;
  bottom: 8px;
  left: 8px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 9998;
}


.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  margin: 8px;
  border-radius: 1000px;
  width: 60px;
  height: 60px;
  background: #f45;
  display: inline-block;
  text-align: center;
  padding: 19px 24px;
  transition: all 0.2s;
}


.rotate {
  background-color: #6B00FF;
  background-image: url("https://cdn.glitch.com/520ac8dc-bcfe-4a1d-948d-189871611a80%2F3d.svg?1530949776885");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


.rotate_fade {
  opacity: 1;
  background-color: #6B00FF;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}


.scale {
  background-color: #6B00FF;
  background-image: url("https://cdn.glitch.com/520ac8dc-bcfe-4a1d-948d-189871611a80%2Fzoom.svg?1530949777092");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}


.scale_one {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-size: 50%;
}


.scale_two {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-size: 50%;
}


.switch {
  background-color: #000000;
  width: auto;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}


.start {
  background-color: #6B00FF;
  width: 150px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}


.AR-tip {
  z-index: 9999;
  border-radius: 10px;
  padding: 10px 0px 20px;
  min-width: 288px;
  max-width: 340px;
  display: block;
  background: #FFFFFF;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;

}

.AR-tip h2 {
  text-align: center;
  color: #000;
  font-weight: 700;
  padding: 0px 16px 0px 16px;
}

.AR-tip p {
  text-align: center;
  font-weight: 400;
  color: #000;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 0px 16px 10px 16px;
}

.AR-tip a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


